* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   /* height: 100%;  */
}

body 
{
  font-family: sans-serif;
  overflow: hidden;
  background-color:#ffffff;
}

.scene,.scene1,.scene2,canvas
{
  position: absolute;
  width: 100%;
  height: 100%;
}

  .back
{
  margin-left: 73px;
  margin-top: 45px;
  margin-right: 73px;
  margin-bottom: 45px;
  position: absolute;
  width: 1220px;
  height: 517px; 
}


  #countDown{
    position: absolute;
    left: 140px;
    top: 64px;
    font-size: 3vmin;
    font-weight: 1000;
    color:gold;
  }
  
  #coinCounterDiv{
    position: absolute;
    left: 300px;
    top: 64px;
    font-size: 3vmin;
    font-weight: 1000;
    color: gold;
    margin: 0;
    width:30px ;
    height: 30px;
  }
  
  @keyframes move { 0%{ left: 280px; top:490px; } 100%{ left: 280px; top: 70px; }}
  
  #coinDiv1{
      position: absolute;
      top:490px;
      left:280px;
      display: none;  
      animation: move .7s linear;
  }
  
  @keyframes mymove1 { 0%{ left: 630px; top: 410px; } 100%{ left: 280px; top: 70px; }}
  
  #coinDiv2{
      position: absolute;
      top:410px;
      left:630px;
      display: none;
      animation: mymove1 .7s linear;
  }
  
  @keyframes mymove2 { 0%{ left:320px; top: 110px; } 100%{ left: 280px; top: 70px; }}
  
  #coinDiv3{
      position: absolute;
      top:110px;
      left:320px;
      display: none;
      animation: mymove2 .7s linear;
  }
  
  @keyframes mymove3 { 0%{ left: 780x; top: 210px; } 100%{ left: 280px; top: 70px; }}
  
  #coinDiv4{
      position: absolute;
      top:210px;
      left:780px;
      display: none;
      animation: mymove3 .7s linear;
  }
  
  @keyframes mymove4 { 0%{ left: 520px; top: 310px; } 100%{ left: 280px; top: 70px; }}
  
  #coinDiv5{
      position: absolute;;
      top:310px;
      left:520px;
      display: none;
      animation: mymove4 .7s linear;
  }
  
  .coin{
      width: 10px;
      height: 10px;
  }

#Level{
    position:absolute;
    left: 950px;
    top: 62px; 
    font-size: 3vmin;
    font-weight: 1000;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
  }




