
#Cover{
    width: 70%;
    margin-left: 20%;
    height: 500px;
    background: url("aboutUs_img/work.gif") white no-repeat;
    top: 0px;
    
}

.c{
    background-color: white;
    height: 500px;
    width: 100%;
}

body{
    /* background-color: rgb(142, 18,53); */
    background-size: 1350px 300px;
    margin-top: 40px;
    background-position: right 600px;
}

 #photos{
    border-radius: 50%;
    background: url("aboutUs_img/pp1.jpg"); 
    width: 130px; 
    height: 155px; 
    margin-top: 100px;
    margin-left: 400px;
    display: block;
    position: relative;
    
} 
/* .imageBorder
{
    margin: 40px;
    border: 2px solid green;
} */

#script{
    /* display: none; */
    font-family: 'Comic Sans MS';
    font-size: large;
    position: relative;
    top: 5px;
    margin-left: 600px;
}

#script1{
    /* display: none; */
    font-family: 'serif';
    font-size: large;
    position: relative;
    margin-left: 500px;
    top:0px;
    margin-top: 0px;
}